# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# Build artifacts
build/
dist/

# Logs
*.log

# Temp files
*.tmp
temp.txt

# Images / captures
*.bmp

# Compressed packages
*.zip

# Output folders
output/
runs/

# OpenVINO export folders
*_openvino_model/